In [2]:
import pandas as pd
import numpy as np

C:\Users\namir\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
df = pd.read_csv('books.csv')
df.head(10)

,name,author,rating,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2019,Childrens
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,2016,Fiction

In [4]:
df.shape

(350, 5)

In [5]:
df.columns

Index(['name', 'author', 'rating', 'year', 'genre'], dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    350 non-null    object
 1   author  350 non-null    object
 2   rating  350 non-null    float64
 3   year    350 non-null    int64
 4   genre   350 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 13.8+ KB

In [7]:
df.dtypes

name       object
author     object
rating    float64
year        int64
genre      object
dtype: object

In [8]:
df.describe()

           rating         year
count  350.000000   350.000000
mean     4.608571  2013.508571
std      0.226941     3.284711
min      3.300000  2009.000000
25%      4.500000  2010.000000
50%      4.600000  2013.000000
75%      4.800000  2016.000000
max      4.900000  2019.000000

In [9]:
genre_count = df['genre'].value_counts()
print(genre_count)

genre
Non Fiction    179
Fiction        131
Childrens       40
Name: count, dtype: int64

In [10]:
df['rating'].min()

3.3

In [11]:
df['rating'].max()

4.9

In [12]:
print(df['genre'] != 'Childrens')

0       True
1       True
2       True
3       True
4      False
       ...
345     True
346     True
347     True
348     True
349    False
Name: genre, Length: 350, dtype: bool

In [13]:
# Remove Childrens
df2 = df[df['genre'] != 'Childrens']

In [14]:
genre_count = df2['genre'].value_counts()
print(genre_count)

genre
Non Fiction    179
Fiction        131
Name: count, dtype: int64

In [15]:
df2.head(10)

,name,author,rating,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2017,Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,2016,Fiction
10,A Patriot's History of the United States: From...,Larry Schweikart,4.6,2010,Non Fiction

In [16]:
df2['genre'] = df2['genre'].astype('category')
df2['genre'] = df2['genre'].cat.codes

C:\Users\namir\AppData\Local\Temp\ipykernel_14812\1605322487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['genre'] = df2['genre'].astype('category')
C:\Users\namir\AppData\Local\Temp\ipykernel_14812\1605322487.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['genre'] = df2['genre'].cat.codes

In [19]:
df2.isna().sum()

name      0
author    0
rating    0
year      0
genre     0
dtype: int64